Vamos a tratar el archivo:

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [35]:
import pandas as pd
df = pd.read_excel('/content/drive/My Drive/preciosEESS_es.xlsx')

In [6]:
df.head()

,Provincia,Municipio,Localidad,Código postal,Dirección,Margen,Longitud,Latitud,Toma de datos,Precio gasolina 95 E5,...,% éster metílico,Precio gases licuados del petróleo,Precio gas natural comprimido,Precio gas natural licuado,Precio hidrógeno,Rótulo,Tipo venta,Rem.,Horario,Tipo servicio
0,ALBACETE,ABENGIBRE,ABENGIBRE,2250,"AVENIDA CASTILLA LA MANCHA, 26",D,"-1,539167","39,211417",22/04/2022 22:39,"1,799",...,NaN,NaN,NaN,NaN,NaN,Nº 10.935,P,dm,L-D: 07:00-22:00,L-D: 07:00-22:00 (A)
1,ALBACETE,ALATOZ,ALATOZ,2152,"CR CM-332, 46,4",I,"-1,346083","39,100389",20/04/2022 13:16,"1,849",...,NaN,NaN,NaN,NaN,NaN,REPSOL,P,dm,L-D: 7:00-23:00,L-D: 7:00-23:00 (A)
2,ALBACETE,ALBACETE,ALBACETE,2001,"AVENIDA 1º DE MAYO, S/N",N,"-1,868500","38,985667",22/04/2022 14:30,"1,829",...,NaN,NaN,NaN,NaN,NaN,CARREFOUR,P,dm,L-S: 08:00-22:00; D: 09:00-21:00,L-S: 08:00-22:00 (A); D: 09:00-21:00 (A)
3,ALBACETE,ALBACETE,ALBACETE,2001,"CALLE FEDERICO GARCIA LORCA, 1",D,"-1,849833","39,000861",23/04/2022 18:50,"1,737",...,NaN,NaN,NaN,NaN,NaN,PLENOIL,P,dm,L-D: 24H,L-D: 24H (D)
4,ALBACETE,ALBACETE,ALBACETE,2001,"CALLE FEDERICO GARCIA LORCA, 5",I,"-1,846361","38,997722",22/04/2022 09:41,NaN,...,NaN,NaN,NaN,NaN,NaN,CEPSA,R,dm,L-S: 05:00-23:00,L-S: 05:00-23:00 (A)

In [38]:
df['Precio gasolina 95 E5'] = df['Precio gasolina 95 E5'].str.replace(',', '.').astype(float)
df['Precio gasolina 95 E10'] = df['Precio gasolina 95 E10'].str.replace(',', '.').astype(float)
df['Precio gasolina 95 E5 Premium'] = df['Precio gasolina 95 E5 Premium'].str.replace(',', '.').astype(float)
df['Precio gasolina 98 E5'] = df['Precio gasolina 98 E5'].str.replace(',', '.').astype(float)
df['Precio gasolina 98 E10'] = df['Precio gasolina 98 E10'].str.replace(',', '.').astype(float)
df['Precio gasóleo A'] = df['Precio gasóleo A'].str.replace(',', '.').astype(float)
df['Precio gasóleo Premium'] = df['Precio gasóleo Premium'].str.replace(',', '.').astype(float)
df['Precio gasóleo B'] = df['Precio gasóleo B'].str.replace(',', '.').astype(float)
df['Precio gasóleo C'] = df['Precio gasóleo C'].str.replace(',', '.').astype(float)
df['Precio bioetanol'] = df['Precio bioetanol'].str.replace(',', '.').astype(float)
#df['% bioalcohol'] = df['% bioalcohol'].str.replace(',', '.').astype(float)
df['Precio biodiésel'] = df['Precio biodiésel'].str.replace(',', '.').astype(float)
#df['% éster metílico'] = df['P% éster metílico'].str.replace(',', '.').astype(float)
df['Precio gases licuados del petróleo'] = df['Precio gases licuados del petróleo'].str.replace(',', '.').astype(float)
df['Precio gas natural comprimido'] = df['Precio gas natural comprimido'].str.replace(',', '.').astype(float)
df['Precio gas natural licuado'] = df['Precio gas natural licuado'].str.replace(',', '.').astype(float)
#df['Precio hidrógeno'] = df['Precio hidrógeno'].str.replace(',', '.').astype(float)

In [39]:
df.dtypes

Provincia                              object
Municipio                              object
Localidad                              object
Código postal                           int64
Dirección                              object
Margen                                 object
Longitud                               object
Latitud                                object
Toma de datos                          object
Precio gasolina 95 E5                 float64
Precio gasolina 95 E10                float64
Precio gasolina 95 E5 Premium         float64
Precio gasolina 98 E5                 float64
Precio gasolina 98 E10                float64
Precio gasóleo A                      float64
Precio gasóleo Premium                float64
Precio gasóleo B                      float64
Precio gasóleo C                      float64
Precio bioetanol                      float64
% bioalcohol                          float64
Precio biodiésel                      float64
% éster metílico                      float64
Precio gases licuados del petróleo    float64
Precio gas natural comprimido         float64
Precio gas natural licuado            float64
Precio hidrógeno                      float64
Rótulo                                 object
Tipo venta                             object
Rem.                                   object
Horario                                object
Tipo servicio                          object
dtype: object

In [41]:
# Vamos a crear una variable nueva, donde tengamos el precio medio de todos los carburantes por gasolinera para
# poder identificar las más baratas y caras:
df['mean_prices'] = df.iloc[:, 9:26].mean(axis=1)

In [44]:
# Revisamos las gasolineras más caras
df.sort_values(['mean_prices'], ascending=[False]).head()

,Provincia,Municipio,Localidad,Código postal,Dirección,Margen,Longitud,Latitud,Toma de datos,Precio gasolina 95 E5,...,Precio gases licuados del petróleo,Precio gas natural comprimido,Precio gas natural licuado,Precio hidrógeno,Rótulo,Tipo venta,Rem.,Horario,Tipo servicio,mean_prices
8262,OURENSE,SAN CIBRAO DAS VIÑAS,SAN CIBRAO DAS VIÑAS,32911,"CALLE RICARDO MARTÍN ESPERANZA, 12",D,"-7,813833","42,289667",20/04/2022 00:00,NaN,...,NaN,2.74,NaN,NaN,NATURGY,P,dm,L-D: 24H,L-D: 24H (A),2.74
11052,VALENCIA / VALÈNCIA,VALENCIA,VALENCIA,46014,"CALLE GREMIS DELS, 10",D,"-0,409417","39,458028",20/04/2022 00:00,NaN,...,NaN,2.74,NaN,NaN,NATURGY,P,dm,L-D: 24H,L-D: 24H (A),2.74
3660,CIUDAD REAL,CIUDAD REAL,CIUDAD REAL,13005,"CALLE VILLARRUBIA DE LOS OJOS, 11",D,"-3,931194","38,975028",20/04/2022 00:00,NaN,...,NaN,2.74,NaN,NaN,NATURGY ES CIUDAD REAL,P,dm,L-D: 24H,L-D: 24H (A),2.74
7562,MURCIA,CARTAGENA,CARTAGENA,30202,"AVENIDA AVENIDA PEDRO SÁNCHEZ MECA, S/N",D,"-0,966028","37,596417",20/04/2022 00:00,NaN,...,NaN,2.74,NaN,NaN,NATURGY LAS CUMBRES CARTAGENA,P,dm,L-D: 24H,L-D: 24H (A),2.74
1762,BARCELONA,BARCELONA,BARCELONA,8003,"CALLE DOCTOR AIGUADER, 50",D,"2,189806","41,383556",20/04/2022 00:00,NaN,...,NaN,2.74,NaN,NaN,NATURGY,P,dm,L-D: 24H,L-D: 24H (A),2.74

In [45]:
# Revisamos las gasolineras más baratas
df.sort_values(['mean_prices'], ascending=[False]).tail()

,Provincia,Municipio,Localidad,Código postal,Dirección,Margen,Longitud,Latitud,Toma de datos,Precio gasolina 95 E5,...,Precio gases licuados del petróleo,Precio gas natural comprimido,Precio gas natural licuado,Precio hidrógeno,Rótulo,Tipo venta,Rem.,Horario,Tipo servicio,mean_prices
7772,MURCIA,MURCIA,MURCIA,30011,"AGREGADO NARANJO, S/N",N,"-1,116833","37,973611",18/04/2022 15:21,NaN,...,0.923,NaN,NaN,NaN,REPSOL BUTANO,P,dm,L-V: 08:00-22:00; S-D: 09:00-14:00,L-V: 08:00-22:00 (A); S-D: 09:00-14:00 (A),0.923
2807,CÁCERES,CABRERO,CABRERO,10616,"PASEO DEL CANCHAL, 1",D,"-5,892333","40,111194",18/04/2022 09:25,NaN,...,NaN,NaN,NaN,NaN,COOP. SAN MIGUEL,R,dm,V: 08:00-15:00,V: 08:00-15:00 (A),0.910
1664,BALEARS (ILLES),PALMA DE MALLORCA,SON SANT JOAN,7198,"CAMI LA MILANA, 49",I,"2,720917","39,565639",18/04/2022 07:00,NaN,...,0.899,NaN,NaN,NaN,REPSOL BUTANO,P,dm,L-D: 07:00-21:00,L-D: 07:00-21:00 (P),0.899
6858,MADRID,MADRID,MADRID,28037,"CALLE ISAAC JIMENEZ, 3",D,"-3,629889","40,436528",18/04/2022 09:30,NaN,...,0.839,NaN,NaN,NaN,MADRID WETAXI GLP,P,dm,L-D: 24H,L-D: 24H (A),0.839
9978,TARRAGONA,TARRAGONA,TARRAGONA,43006,"CALLE MERCURI, 15,17",D,"1,227028","41,141167",18/04/2022 11:44,NaN,...,0.810,NaN,NaN,NaN,EXOIL,P,dm,L-D: 24H,L-D: 24H (A),0.810

In [49]:
# Vemos cuantos carburantes hay por gasolinera. 17 es el total de carburantes disponibles
df['num_carburantes'] = 17 - df.iloc[:, 9:26].isnull().sum(axis=1)

In [50]:
df.head()

,Provincia,Municipio,Localidad,Código postal,Dirección,Margen,Longitud,Latitud,Toma de datos,Precio gasolina 95 E5,...,Precio gas natural comprimido,Precio gas natural licuado,Precio hidrógeno,Rótulo,Tipo venta,Rem.,Horario,Tipo servicio,mean_prices,num_carburantes
0,ALBACETE,ABENGIBRE,ABENGIBRE,2250,"AVENIDA CASTILLA LA MANCHA, 26",D,"-1,539167","39,211417",22/04/2022 22:39,1.799,...,NaN,NaN,NaN,Nº 10.935,P,dm,L-D: 07:00-22:00,L-D: 07:00-22:00 (A),1.672667,3
1,ALBACETE,ALATOZ,ALATOZ,2152,"CR CM-332, 46,4",I,"-1,346083","39,100389",20/04/2022 13:16,1.849,...,NaN,NaN,NaN,REPSOL,P,dm,L-D: 7:00-23:00,L-D: 7:00-23:00 (A),1.934750,4
2,ALBACETE,ALBACETE,ALBACETE,2001,"AVENIDA 1º DE MAYO, S/N",N,"-1,868500","38,985667",22/04/2022 14:30,1.829,...,NaN,NaN,NaN,CARREFOUR,P,dm,L-S: 08:00-22:00; D: 09:00-21:00,L-S: 08:00-22:00 (A); D: 09:00-21:00 (A),1.886500,4
3,ALBACETE,ALBACETE,ALBACETE,2001,"CALLE FEDERICO GARCIA LORCA, 1",D,"-1,849833","39,000861",23/04/2022 18:50,1.737,...,NaN,NaN,NaN,PLENOIL,P,dm,L-D: 24H,L-D: 24H (D),1.747000,2
4,ALBACETE,ALBACETE,ALBACETE,2001,"CALLE FEDERICO GARCIA LORCA, 5",I,"-1,846361","38,997722",22/04/2022 09:41,NaN,...,NaN,NaN,NaN,CEPSA,R,dm,L-S: 05:00-23:00,L-S: 05:00-23:00 (A),1.905000,1

In [55]:
import csv
df.to_csv('/content/drive/My Drive/preciosgasolinera.csv', index=False)